<div class="header-1">
  <div class="icon-1">
    <img class="img-icon" src="../assets/Icons/REPEC_Logo.jpg">
  </div>
 <div>
  <ul clas="header-navOne">
    <li>
      <button class="btn" routerLink="/home" [ngClass]="{ 'active' : isValue == 0 }" (click)="toggle0()" type="button">Home</button>
    </li>
    <li>
      <button class="btn" routerLink="/our-approach" [ngClass]="{ 'active' : isValue == 1 }" (click)="toggle1()" type="button">Our costs</button>
    </li>
    <li>
      <button class="btn" [disabled]="!isDisable" routerLink="/who-we-are" [ngClass]="{ 'active' : isValue == 2 }" (click)="toggle2()" type="button">Support</button>
    </li>
    <li>
      <button class="btn" [disabled]="!isDisable" routerLink="/insights" [ngClass]="{ 'active' : isValue == 3 }" (click)="toggle3()" type="button">Contact us</button>
    </li>
    <li>
      <button class="btn" [disabled]="!isDisable" routerLink="/career" [ngClass]="{ 'active' : isValue == 4 }" (click)="toggle4()" type="button">Careers</button>
    </li>

  </ul>
 </div>
</div>

<router-outlet></router-outlet>
