<div>
  <div class="bd-1">
    <div class="card-1-lft">
      <img class="card-1-lft-img" src="../../assets/Images/Repec/img-3.jpg" alt="">
    </div>
    <div class="card-1-rt">
      <h2>
        The ultimate collaboration
      </h2>
      <p>
        We consult every client challenge with an open chatbox and an open mind.
         from the start, we customize and creative. Together, we explore how to achive your vision for the future, and achieve results that matter.
      </p>
    </div>
  </div>

  <div class="bd-2">
   <div class="bd-2-top">
    <h6 class="title-1">HOW WE WORK</h6>
    <h2 class="title-2">A recipe for success</h2>
    <p>
      While every prtner's journey is unique, we consider certain views of our approach to be universal. There directives ensure that we're not only delivering results.
    </p>
    <p><b>That's why, at REPEC, we always:</b></p>
   </div>
   <div class="bd-2-card">
    <div class="card-1">

    </div>
    <div class="card-1">

    </div>
    <div class="card-1">

    </div>
    <div class="card-1">

    </div>
   </div>
  </div>
</div>
