.bd-1 {
  background-color: #fff;
}
.card-1-lft-img {
  width: 35%;
  float: left;
  margin: 60px 0px 30px 200px;
}

.card-1-rt {
  width: 25%;
  float: right;
  margin: 50px 200px 30px 0px;

}
.heading {
  font-family: serif;
  font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.bd-2 {
  width: 100%;
  background-color: #fff;
  float: left;
  margin-top: 100px;
}
.bd-2-top {
  width: 70%;
margin: 100px 0 50px 200px;
}
.title-1 {
  font-family: serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.title-2 {
  font-family: serif;
  letter-spacing: normal;
  font-size: 2.25rem;
  line-height: 1.22;
  font-weight: 700;
}

