<!-- <div> -->
  <div class="bd-1">
    <div class="card-1-lft">
      <img class="card-1-lft-img" src="../../assets/Images/Repec/rep-img-1.jpg" alt="">
    </div>
    <div class="card-1-rt">
      <P class="heading">REPEC INSIGHTS</P>
      <h2>
        Kindly reboot: your digital transformation strategy is compromised
      </h2>
      <p>
        In order to really mean something, transformation has to be first and foremost about the values and purpose that drove the original founding of the company you lead. Without this focus, nothing will prepare us for the next disruption, because it is values (not value) that drive sustainable transformation.
      </p>
    </div>
  </div>

  <div class="bd-1">
    <div class="card-1-lft">
      <img class="card-1-lft-img" src="../../assets/Images/Repec/rep-img-2.jpg" alt="">
    </div>
    <div class="card-1-rt">
      <P class="heading">OUR FUTURE</P>
      <h2>
        Environment for growth impact
      </h2>
      <p>
        We’ve always trust in the power of technology to engineer a better future.
      </p>
      <p>Born digital, we've helped the world’s best companies succeed through transformation.
        Using a nimble, creative approach we work together from start to finish to realize their vision for tomorrow. With the right talent and tools, we craft disruptive solutions, and provide the resources and expertise clients need to bring them to life.
      </p>
      <p>
        When you work with us, you’ll create a positive ripple effect that could touch billions of lives—and build for boundless impact.
      </p>
    </div>
  </div>

  <div class="bd-3">
    <div class="card-3-lft">
      <img class="card-3-lft-img" src="../../assets/Images/Repec/virtualization.jpg" alt="">
    </div>
    <div class="card-3-rt" style="margin-top: 100px;">
      <P class="heading">OVERVIEW</P>
      <h2>
        Here for the health of your business
      </h2>
      <p>
        Regulation and social change are transforming healthcare at lightning speed. Together with our clients, we’re helping to set the pace. When you work with us, it’s never just about the tools or systems—we’ll dig deep to identify your core challenges before building smart solutions to help you grow your business and deliver the best possible care.
      </p>
    </div>
  </div>
  <div class="bd-4">
    <P class="heading-4">REPEC HEALTHCARE AT A GLANCE</P>
    <p class="discrp-4">We working with the largest payers (ICICI, LIC) to pick empathy into the smallest modulation, we're reshaping the healthcare space.</p>
    <div class="card-1">
      <p class="card-let">3</p>
      <p>Of top 5 Indian healthcare payers are clients</p>
    </div>
    <div class="card-2">
      <p class="card-let">103M</p>
      <p>Indian lives touched through our insurance business</p>
    </div>
    <div class="card-3">
      <p class="card-let">20+</p>
      <p>Top health systems served through our provider business</p>
    </div>
  </div>
<!-- </div> -->
